@model IList<MvcProject.BuyNet.Product>
@{
    ViewBag.Title = "Home Page";

}
@{ List<MvcProject.BuyNet.Product> products = new List<MvcProject.BuyNet.Product>();
    ViewBag.prodcut = products;
    foreach (var item in products)
    {
        
    }
     }


@foreach (var item in Model)
{
    
    <div class="row">
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <p>
                <div>@item.Images</div>
                <div>@item.Rate</div>
                @item.Description
                <div>@item.Price</div>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Buy Now &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>@item.Name</h2>
                <p>
                    <div>@item.Images</div>
                    <div>@item.Rate</div>
                    @item.Description
                    <div>@item.Price</div>
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Buy Now &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>@item.Name</h2>
                <p>
                    <div>@item.Images</div>
                    <div>@item.Rate</div>
                    @item.Description
                    <div>@item.Price</div>
                </p>
                <p><a class="btn btn-default" href="/Home/Remove?id=@item.Id">Delete &raquo;</a></p>
            </div>
        </div>
     
}
