@model IList<MvcProject.BuyNet.Product>



@{List<MvcProject.BuyNet.Product>
                  pro = new List<MvcProject.BuyNet.Product>();

    {



    }



    //foreach (var cat in MvcProject.Controllers.HomeController.client.GetCategories())
    {


        foreach (var item in Model)
        {
            //if (cat.Id==(int)item.CategoryId)
            { 
                <<div class="row">
        <div class="col-md-4">

            <h2>@item.Name</h2>
            <p>
                <div>

                    <a href="Product_Page/@item.Id">
                        <img src="~/pics/[Phones & Telecommunications]/LG 4/Galxy5s.jpg" alt="@item.Name" width="250" height="250" />
                    </a>
                </div>
                <br />
                <div>
                    Rate:
                    @{
                        for (int i = 0; i < 5; i++)
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }

                        for (int i = 0; i < @item.Rate; i++)
                        {
                            <b><span class="glyphicon glyphicon-star"></span></b>
                        }
                    }
                </div>
                <div>
                    @item.Description
                </div>
                <div>price:US @item.Price <span class="glyphicon glyphicon-usd"></span></div>
            </p>
            <p>
                <a class="btn btn-primary" href="BuyMe/@item.Id">Buy Me Now &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <p>
                <div>
                    <a href="Product_Page/@item.Id">
                        <img src="~/pics/Books/The Bold And The Beutifual/TheBoldAndBeutifual.jpg" alt="@item.Name" width="250" height="250" />
                    </a>
                </div>
                <br />
                <div>
                    Rate:
                    @for (int i = 0; i < @item.Rate; i++)
                    {
                        <b> *</b>
                    }
                </div>
                <div>
                    @item.Description
                </div>
                <div>@item.Price</div>
            </p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Buy Now &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <p>
                <div>
                    <a href="/Product_Page/@item.Id">
                        <img src="~/pics/[Phones & Telecommunications]/IPHONE 5/Ipone5s.jpg" alt="@item.Name" width="250" height="250" />
                    </a>
                </div>
                <br />
                <div>
                    Rate:
                    @for (int i = 0; i < @item.Rate; i++)
                    {
                        <b> *</b>
                    }
                </div>
                <div>
                    @item.Description
                </div>
                <div>@item.Price</div>
            </p>
            <p><a class="btn btn-primary" href="/Home/Remove?id=@item.Id">Delete &raquo;</a></p>
        </div>
    </div>
    <br />
                                }
                            }
                            //pro.OrderByDescending(p => p.Rate).Take(3);




                        }


}


