
@{
    ViewBag.Title = "NavigationBar";
}


@*<div class=" navbar navbar-left" role="navigation" style="display:table; padding:10px; width: 100%; min-height: 500px">
    <div id="right" style="width: 80%; margin-left: auto;float:right;padding-left:2em">*@

@{int i = 0;
    Dictionary<string, string> c = new Dictionary<String, String>();
    foreach (var cat in MvcProject.Controllers.HomeController.client.GetCategories())
    {
        c.Add((i++).ToString(), cat.Name);
        foreach (var sub in MvcProject.Controllers.HomeController.client.SubCategories())
        {
            if (sub.Parent == cat.Id)
            {
                c.Add(sub.Name, cat.Name);
            }
        }

    }

}


@*@Html.Partial("Index");*@


        </div>
<div class=" navbar navbar-default  navbar-left col col-sm-3" role="navigation" id="left" style="float:left;width:20%">
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav top" style="top: 200px">
            @{
                var x2 = c.Select(x => x.Value).Distinct();
                foreach (var cat in x2)
                {
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user" style="font:16px arial;color:black" id="@cat">@cat</i>
                            <span class="caret"></span>
                        </a><ul class="dropdown-menu nav nav-list list-group ">

                            @foreach (var sub in c)
                            {
                                int g = 0;
                                if (sub.Value == cat)
                                {
                                    g++;
                                    <li><a class="dropdown-toggle list-group-item" style="border:none" href="#" id="@sub.Key">@sub.Key <span class="badge">@g</span></a></li>
                                }

                            }
                        </ul>


                    </li>


                } }
        </ul>

    </div>
</div>
<script>

        $(function () {
            $('#category').on('change', function () {

                var c = $('#category').val();
                $('#subcategory option').hide();
                $('#subcategory option[value="' + c + '"]').show();
                $("#subcategory").val($('#subcategory option[value="' + c + '"]:first').val());

            });
            $("ul").dataTable()
        });


</script>
    </div>



